    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="footer_logo">
                                <a href="{{site.baseurl}}/">
                                    <img src="{{site.baseurl}}/img/logo2.png" alt="RotaSambandh Job Board">
                                </a>
                            </div>
                            <p>
                                {{site.data.info.site_info.email}} <br>
                                {{site.data.info.site_info.phone}} <br>
                                {{site.data.info.site_info.location}}
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/company/rotasambandh" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/rotasambandh/" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                            <h3 class="footer_title">
                                RotaSambandh
                            </h3>
                            <ul>
                                <li><a href="https://rotasambandh.com/about" target="_blank">About </a></li>
                                <li><a href="{{site.baseurl}}/jobs">Browse Jobs</a></li>
                                <li><a href="#">Post A Job</a></li>
                                <li><a href="{{site.baseurl}}/coordinators">Coordinators</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                            <h3 class="footer_title">
                                Job Nature
                            </h3>
                            <ul>
                                <li><a href="{{site.baserul}}/jobs/Full-Time">Full Time</a></li>
                                <li><a href="{{site.baserul}}/jobs/Part-Time">Part Time</a></li>
                                <li><a href="{{site.baserul}}/jobs/Internship">Internship</a></li>
                                <li><a href="#">Submit Your Resume</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                            <h3 class="footer_title">
                                Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <p class="newsletter_text">Get all the latest updates delivered straight to your inbox.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | A <a href="https://colorlib.com" target="_blank">Colorlib</a> template modified by <a href="https://zeospec.com/" target="_blank">ZeoSpec</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->