    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{{site.baseurl}}/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="{{site.baseurl}}/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="{{site.baseurl}}/js/popper.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/owl.carousel.min.js"></script>
    <script src="{{site.baseurl}}/js/isotope.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/js/ajax-form.js"></script>
    <script src="{{site.baseurl}}/js/waypoints.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery.counterup.min.js"></script>
    <script src="{{site.baseurl}}/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{site.baseurl}}/js/scrollIt.js"></script>
    <script src="{{site.baseurl}}/js/jquery.scrollUp.min.js"></script>
    <script src="{{site.baseurl}}/js/wow.min.js"></script>
    <script src="{{site.baseurl}}/js/nice-select.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery.slicknav.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery.magnific-popup.min.js"></script>
    <script src="{{site.baseurl}}/js/plugins.js"></script>
    <script src="{{site.baseurl}}/js/gijgo.min.js"></script>



    <!--contact js-->
    <script src="{{site.baseurl}}/js/contact.js"></script>
    <script src="{{site.baseurl}}/js/jquery.ajaxchimp.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery.form.js"></script>
    <script src="{{site.baseurl}}/js/jquery.validate.min.js"></script>
    <script src="{{site.baseurl}}/js/mail-script.js"></script>


    <script src="{{site.baseurl}}/js/main.js"></script>