<div class="top_companies_area">
    <div class="container">
        {% for type in site.data.info.partners %}
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center my-5">
                    <h3>{{type.title}}</h3>
                </div>
            </div>
        </div>


        
        <div class="row justify-content-center">
            {% for partner in type.list %}
            {% assign partnerData = site.data.partners[partner] %}
            <div class="col-12 col-md-6 col-lg-{{12 | divided_by:type.line_count}} mb-4 mb-md-5 text-center">
                <a href="{{partnerData.link}}" target="_blank">
                    <img style="max-width: {{960 | divided_by:type.line_count}}px;max-height: {{480 | divided_by:type.line_count}}px;" src="{{partnerData.img | relative_url}}" alt="{{partnerData.name}}">
                </a>
            </div>

            {% endfor %}
        </div>
        {% endfor %}

    </div>
</div>