---
layout: default
---

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{page.title | capitalize | replace: "-"," "}} Jobs</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

        <!-- catagory_area -->
        <div class="catagory_area">
            <div class="container">
                <form action="{{ site.baseurl }}/search" method="get">
                <div class="row cat_search">
                    
                    <div class="col-lg-9 col-md-12">
                        <div class="single_input">
                            <input type="text" name="q" placeholder="Search keyword" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="job_btn">
                            <a type="submit" class="boxed-btn3">Search Jobs</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!--/ catagory_area -->
            
    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="job_lists m-0">
                        <div class="row">
                            {% assign aposts = page.posts | where: 'active', 'true' | sort: 'date' | reverse %}
                            {% for post in aposts %}

                            {% include postbox.html %}
                        
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
</div>